<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ng-bind="page.title">@ViewBag.Title :: SE0 + SPA = :)</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/anim-in-out.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <base href="/" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" target="_self" class="navbar-brand">SE0 + SPA = :)</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/articles/" target="_self">Articles</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="content col-sm-10">
                <div data-ui-view
                     data-extract-title-from-content
                     data-anim-speed="500"
                     data-anim-sync="true"
                     class="anim-in-out anim-fade"></div>
                <div class="hide">@RenderBody()</div>
            </div>
        </div>
    </div>
    <footer>
        <p class="text-muted text-center small">Craig Shoemaker</p>
    </footer>
    <div id="info" class="badge">Angular (@DateTime.Now.ToLongTimeString())</div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/anim-in-out.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/articlesController.js"></script>
    @RenderSection("scripts", false)
</body>
</html>