<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title :: SE0 + SPA = :)</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <base href="/" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">SE0 + SPA = :)</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/articles/">Articles</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" data-ng-app="app">
        <div class="content">
            <div data-ui-view><img src="/images/loader.gif" width="16" height="11" alt="Loading..." /></div>
            <div class="hide">@RenderBody()</div>
        </div>
    </div>
    <footer>
        <p class="text-muted text-center small">Craig Shoemaker</p>
    </footer>
    <div id="info" class="badge">Angular (@DateTime.Now.ToLongTimeString())</div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/articlesController.js"></script>
    @RenderSection("scripts", false)
</body>
</html>